# node_modules
**node_modules

# .env
**.env

# authconfig.json
**authconfig.json

# polyglot - these are files that users have dropped into their
# local verison of SimbaTS
**polyglot

# .DS_Store
**.DS_Store

# src
src